/* Color Theme Swatches in Hex */
.My-Color-Theme-1-1-hex { color: #00815D; }
.My-Color-Theme-1-2-hex { color: #004E38; }
.My-Color-Theme-1-3-hex { color: #003426; }
.My-Color-Theme-1-4-hex { color: #278168; }
.My-Color-Theme-1-5-hex { color: #00CD94; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-1-rgba { color: rgba(0, 128, 92, 1); }
.My-Color-Theme-1-2-rgba { color: rgba(0, 77, 55, 1); }
.My-Color-Theme-1-3-rgba { color: rgba(0, 52, 37, 1); }
.My-Color-Theme-1-4-rgba { color: rgba(38, 128, 103, 1); }
.My-Color-Theme-1-5-rgba { color: rgba(0, 205, 147, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-1-hsla { color: hsla(163, 100, 25, 1); }
.My-Color-Theme-1-2-hsla { color: hsla(163, 100, 15, 1); }
.My-Color-Theme-1-3-hsla { color: hsla(163, 100, 10, 1); }
.My-Color-Theme-1-4-hsla { color: hsla(163, 53, 32, 1); }
.My-Color-Theme-1-5-hsla { color: hsla(163, 100, 40, 1); }

@media (max-width: 576px){
	html{
		font-size: 8px;
	}

}
@media (max-width: 768px){
	html{
		font-size: 10px;
	}
}
@media (max-width: 992px){
	html{
		font-size: 10px;
	}
}
.box{
	height: 5%;
	width:5%;
	padding: 1em 1em;
}
.descbox{
	line-height: 100%;
}
.navbar {
	background: rgba(38, 128, 103, 0.8);
}
.check{
	background: White;
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('Montserrat/Montserrat-Bold.ttf') format('truetype');
}

.nav-link:hover{
	text-decoration: underline;
	text-decoration-style: dotted; 
	color: Black;
}
.nav-link , .navbar-brand{ 
	color: #f4f4f4; 
	cursor: pointer;}
.nav-link{ 
	margin-right: 1em !important;
}
.navbar-collapse{ 
	justify-content: flex-end;
}
.navbar-toggler{  
	background: rgba(0, 52, 37, 1);
}
.navbar-brand:hover{
	text-decoration: underline;
	text-decoration-style: dotted; 
	color: black;	
}
.navbar-toggler-icon{
	background: rgba(0, 52, 37, 1);
	border-color: rgba(0, 52, 37, 1);
}
/*header style*/
body {
	background: rgba(0, 77, 55, 1) !important;
}
.header{ 
	background: rgba(0, 77, 55, 1); 
	margin-bottom: 0;
}
.header1{
	margin-bottom: 0;
}
.description{
	position: absolute;      
	top: 20%;
	margin: auto;
	padding: 2em;
	width :100%;
}
.container{
	display: flex;
 	justify-content: center;
}


.description h1{ 
	color: White;
	font-size: 150px;
	font-family: 'Montserrat-Bold', sans-serif !important;
	display: inline;
}
.description h2{ 
	color: White;
	font-size: 100px;
	font-family: 'Montserrat-Bold', sans-serif !important;
	display: inline;
}
.description p{ 
	padding: none;
	color:white; 
	font-size: 15px; 
	position: relative;
	bottom: 30px;
}
.description button{ 
	border:1px  solid #F97300; 
	background:#F97300; 
	color:#fff;
}
.searchbox {
	background: none !important;
	border-bottom: 1px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 50%;
	height: 6%;
	color: white;
}

::-webkit-input-placeholder {
	color: white;
	font-size: 1em;
}
.searchbox:focus {
	outline: none;
	border-bottom: 3px solid white;
	color: white;
}
.theywork{
	background: #62b356;
	border: 0;
}
.theywork:hover{
	background: #59a14f;
}
.chartWrapper{
	display: block;
	width: 100%; 
	overflow-x: auto !important;
}
.wrapper2{	
	width: 700px !important;
	text-align: center;
	margin: 0 auto;
}
.wrapper3{
	width:  145px !important;
	text-align: center;
	margin: 0 auto;
}

.searchglass {
	height: 30px;
	width: 30px;
	position: relative;
	top: 10px;
}
.hidebut:hover{
	background: rgba(90, 88, 88, 0.3) !important;
}
.whitebody{

	margin: 2% 10%;
	background: rgba(0, 0, 0, 0.6);  
	padding: 1% 1%;
	background: rgba(255,255,255,0.8) !important;
	color: rgba(0,0,0,0.8) !important;
}
.about{ 
	margin: 0 !important;
	padding: 1em; 
	position: relative;
	background: rgba(0, 128, 92, 1);
}
.about h1{ 
	color:rgba(255,255,255, 0.3)0; 
	margin: 2em;
}
.about img{ 
	height: 100%;    
	width: 100%;    
	border-radius: 50%
}
.about span{ 
	display: block; 
	color: #888; 
	position: absolute; 
	left: 115px;
}
.about .desc{ 
	padding: 2em; 
	border-left:4px solid rgba(0, 52, 37, 1); 
}
.about .desc h3{ 
	color: rgba(255,255,255, 0.5);
}
.about .desc p{ 
	line-height:2; 
	color: rgba(255,255,255, 0.5);
}
.about .desc a{ 
	line-height:2; 
	color: rgba(255,255,255, 0.5);
	text-decoration: underline;
	text-decoration-style: dotted;
}
.about .desc a:hover{
	color: rgba(255,255,255, 1);
	text-decoration: underline;
	text-decoration-style: dotted; 

}
.desc ul{
	list-style-type: none;
}
.logo {
	height: 25px !important;
	width: 40px !important;
}
.background {
	margin: 20%;
	background: rgba(38, 128, 103, 0.8);
}
.mainbody{
	margin: 2% 10%;
	background: rgba(0, 0, 0, 0.6);  
	color: rgba(255,255,255, 0.9) !important;
	padding: 1% 1%;
}
html, body { height: 100%; width: 100%; margin: 0; }
.searchfield{
	margin-top:  10%;
}
.details{
	padding: 3%;
}
.blue {
	font-weight: bold;
}
.details img{
}
.votes{
	color: rgba(255,255,255, 0.9);
}
.green{
	background: green;

}
.red{
	background: red;
}
.redfont{
	color: red;
}
.orangeredfont{
	color: rgba(244, 98, 30, 1);
}
.orangefont{
	color: rgba(244, 137, 30, 1);
}
.greenfont{
	color: green;
}
.grey{
	background: grey;
}
.contentphoto{
	padding: 10% 5%;
    background: rgba(90, 88, 88, 0.3);
    background-size: 100%;

}
.Didyou{
	padding: 3% 15%;
	height: 10%;
	background: none ; 
}
.Didyou:hover{
	background: rgba(90, 88, 88, 0.5);
}
.fullborder{
	border-left: 2px solid #dee2e6;
	border-right: 2px solid #dee2e6;
}
.leftborder{
	border-left: 2px solid #dee2e6;
}
.rightborder{
	border-right: 2px solid #dee2e6;
}
.brextables{
	padding: 3% 15%;
}
.listgroup{
	background: none !important;
}
.spacebit{
	padding: 2% 0;
}
.tiny {

}
.mainbody a{
	color: rgba(255,255,255, 0.9) !important;
}
.mainbody a:hover{
	text-decoration: underline;
	text-decoration-style: dotted; 
}
@media screen and  (max-width: 500px) {
.description h1{ 
    font-size: 65px; 
}
.description h2{
	font-size: 40px; 
}
.searchbox {
	font-size: 1em;
}
.description p{ 
	position: relative;
	bottom: 0px;
}
}


